@font-face {
  font-family: Poppins-Regular; /*400 weight*/
  src: url(../fonts/Poppins-Regular.otf);
}

@font-face {
  font-family: Poppins-SemiBold; /*400 weight*/
  src: url(../fonts/Poppins-SemiBold.otf);
}

@font-face {
  font-family: Poppins-Bold; /*600 weight*/
  src: url(../fonts/Poppins-Bold.otf);
}

@font-face {
  font-family: Poppins-Italic; /*400 weight*/
  src: url(../fonts/Poppins-Italic.otf);
}

:root {
  --white: #ffffff;
  --gold: #ffa31a;
  --github: #999999;
  --grey: #999999;
  --medium-grey: #333333;
  --dark-grey: #171717;
  --bg-black: #1b1b1b;
  --black: #000000;
}

* {
  font-family: "Poppins-Regular", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

body {
  background-color: var(--bg-black);
}

div.container {
  width: 50%;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
/* ####################### */
.github {
  position: absolute;
  top: 20px;
  right: 2%;
  display: flex;
  align-items: center;
}

.github a {
  display: flex;
  padding: 10px;
  text-decoration: none;
  color: var(--github);
  transition: 0.3s;
}

.github-logo {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}


/* ####################### */
.logo {
  margin-top: 30px;
}

h1 {
  font-size: 90px;
}

.phify-container {
  font-family: "Poppins-Bold", sans-serif;
  background-color: var(--bg-black);
  color: var(--white);
  border-radius: 5px;
}

.phify-container:hover {
  cursor: pointer;
}

.ify {
  font-family: "Poppins-Bold", sans-serif;
  background-color: var(--gold);
  color: var(--bg-black);
  padding: 0.1em;
  margin-left: 0.1em;
  border-radius: 0.1em;
}

.tagline {
  font-family: "Poppins-Italic", sans-serif;
  font-size: 13px;
  color: var(--github);
  text-align: right;
  padding: 0 1%;
  margin-top: 3%;
}

/* ####################### */
.container button {
  background-color: var(--dark-grey);
  border-style: none;
  font-size: 20px;
  font-family: "Poppins-SemiBold", sans-serif;
  width: 300px;
  padding: 10px;
  border-radius: 40px;
  border: 2px solid var(--medium-grey);
  cursor: pointer;
  transition: 0.2s;
}

.container button:focus {
  display: none;
  text-decoration: none;
  border-style: none;
}

.container button:hover {
  background-color: var(--gold);
  color: var(--black);
  border: 2px solid var(--dark-grey);
  text-decoration: none;
}

.container input {
  position: absolute;
  top: -100px;
}

/* ####################### */
footer {
  margin-bottom: 2%;
  text-align: center;
  color: var(--grey);
  font-size: 14px;
}

footer .heart {
  text-align: center;
  fill: var(--gold);
  margin: 0 3px;
  height: 13px;
  width: 13px;
  animation: pound 0.35s infinite alternate;
}

footer div {
  font-size: 16px;
  font-family: "Poppins-SemiBold", sans-serif;
  color: var(--white);
}

@keyframes pound {
  to {
    transform: scale(1.2);
  }
}

/* ####################### */
