* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

header{
    font-size: 2rem;
    background-color: burlywood;
}

.container {
    width: 90%;
    margin: auto;
}

.row {
    clear: left;
}

.col-3 {
    width: 23%;
    float: left;
    margin: 10px 1%;
    background-color: aqua;
}

.col-3 .thumbnail {
    width: 100%;
    position: relative;
}

.col-3 img {
    width: 100%;
}

.col-3 span {
    background-color: ghostwhite;
    font-size: 0.85rem;
    position: absolute;
    top: 2%;
    right: 2%;
    padding: 2px;
}

.col-3 video {
    width: 100%;
}