/* Main Page */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Charm&display=swap");

* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

body {
  background-color: #1b1b1b;
}

.container-main {
  width: 90%;
  margin: auto;
}

header {
  position: relative;
  padding: 15px 15px 15px 2.5%;
  background-color: #171717;
  margin-bottom: 2.5%;
  cursor: default;
  display: flex;
  align-items: center;
}

h1 {
  font-size: 35px;
}

.phify-container {
  background-color: #171717;
  color: white;
  border-radius: 3px;
}

.ify {
  background-color: #ffa31a;
  color: #1b1b1b;
  padding: 0.05em 0.1em;
  margin-left: 0.1em;
  border-radius: 0.1em;
}

.github {
  position: absolute;
  right: 2.5%;
  display: flex;
  align-items: center;
}

.github a {
  padding: 10px;
  font-size: 16px;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.fa-github::before {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.6);
}

.row {
  width: 100%;
  display: flex;
  justify-content: center;
}

.col-4 {
  width: 32%;
  margin: 30px auto;
}

.col-4 span {
  font-size: 0.85rem;
  padding: 2px;
}

.col-4 video {
  width: 100%;
}

footer {
  margin: 5% 0 0;
  padding: 1% 0;
  background-color: #171717;
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
  font-size: 14px;
}

footer .fa-heart {
  color: #ffa31a;
  margin: 0 3px;
  font-size: 15px;
  animation: pound 0.35s infinite alternate;
}

footer div {
  font-size: 16px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.8);
}

@keyframes pound {
  to {
    transform: scale(1.1);
  }
}
