@font-face {
  font-family: Poppins-Regular; /*400 weight*/
  src: url(../fonts/Poppins-Regular.otf);
}

@font-face {
  font-family: Poppins-SemiBold; /*400 weight*/
  src: url(../fonts/Poppins-SemiBold.otf);
}

@font-face {
  font-family: Poppins-Bold; /*600 weight*/
  src: url(../fonts/Poppins-Bold.otf);
}

@font-face {
  font-family: Poppins-Italic; /*400 weight*/
  src: url(../fonts/Poppins-Italic.otf);
}

:root {
  --white: #ffffff;
  --gold: #ffa31a;
  --github: #999999;
  --grey: #999999;
  --medium-grey: #333333;
  --dark-grey: #171717;
  --bg-black: #1b1b1b;
  --black: #000000;
}

* {
  font-family: "Poppins-Regular", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

body {
  background-color: var(--bg-black);
}

div.container {
  width: 50%;
  height: 100vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
/* ####################### */
.github {
  position: absolute;
  top: 20px;
  right: 2%;
  display: flex;
  align-items: center;
}

.github a {
  display: flex;
  align-items: center;
  padding: 0.7vw;
  text-decoration: none;
  color: var(--github);
}

.github-logo {
  height: 20px;
  width: 20px;
  margin-right: 5px;
}


/* ####################### */
.logo {
  margin-top: 30px;
}

h1 {
  font-size: 90px;
}

.phify-container {
  font-family: "Poppins-Bold", sans-serif;
  background-color: var(--bg-black);
  color: var(--white);
  border-radius: 5px;
}

.phify-container:hover {
  cursor: pointer;
}


.ify {
  font-family: "Poppins-Bold", sans-serif;
  background-color: var(--gold);
  color: var(--bg-black);
  padding: 0.1em;
  margin-left: 0.1em;
  border-radius: 0.1em;
}

.tagline {
  font-family: "Poppins-Italic", sans-serif;
  font-size: 13px;
  color: var(--github);
  text-align: right;
  padding: 0 1%;
  margin-top: 3%;
}

@media only screen and (max-width: 768px) {
  .phify-container {
    position: absolute;
    left: 10%;
    top: 5%;
    font-size: 13vw;
  }

  .tagline {
    /* position: absolute;
    left: 28%;
    top: 22%; */
    font-size: 1.9vw;
  }

  .github {
    position: absolute;
    right: 5%;
    top: 5%;
  }

  .github a {
    font-size: 2.1vw;
  }

  .github-logo {
    height: 2.5vw;
    width: 2.5vw;
  }
}

/* ####################### */
.container button {
  background-color: var(--dark-grey);
  border-style: none;
  font-size: 20px;
  font-family: "Poppins-SemiBold", sans-serif;
  width: 300px;
  padding: 10px;
  border-radius: 40px;
  border: 2px solid var(--medium-grey);
  cursor: pointer;
  transition: 0.2s;
}

.container button:focus {
  display: none;
  text-decoration: none;
  border-style: none;
}

.container button:hover {
  background-color: var(--gold);
  color: var(--black);
  border: 2px solid var(--dark-grey);
  text-decoration: none;
}

.container input {
  position: absolute;
  top: -100px;
}

@media only screen and (max-width: 768px) {
  .container button {
    position: absolute;
    top: 50%;
    font-size: 2.5vw;
    width: 40vw;
  }
}


/* ####################### */
footer {
  margin-bottom: 2%;
  text-align: center;
  color: var(--grey);
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer .heart {
  text-align: center;
  fill: var(--gold);
  margin: 0 5px;
  height: 13px;
  width: 13px;
  animation: pound 0.35s infinite alternate;
}
footer .line-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: var(--grey);
}

footer .line-2 {
  font-size: 16px;
  font-family: "Poppins-SemiBold", sans-serif;
  color: var(--white);
}

@media only screen and (max-width: 768px) {
  footer {
    font-size: 2vw;
  }

  footer .heart {
    margin: 0px 0.8vw;
    height: 2vw;
    width: 2vw;
  }

  footer .line-1 {
    font-size: 2vw;
  }
  
  footer .line-2 {
    font-size: 2.2vw;
  }
}

/* ####################### */

@keyframes pound {
  to {
    transform: scale(1.2);
  }
}

